/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
*{
    font-family: "Work Sans", serif;
}
.common-button{
    border-radius: 8px;
    background:#FF900E;
    height: 64px;
    width: 180px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}

/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    display: flex;

}
nav li{
    list-style: none;
}
nav ul a{
    text-decoration: none;
    margin-right: 30px;
    color: #424242;
    font-size: 18px;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}

/* banner styles */
.banner-content{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    font-size: 16px;
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main,footer{
    max-width: 1440px;
    margin: 0 auto;
}

/* feature part1 styles */
.teams-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.teams-content-container{
    max-width: 537px;
}
.teams-content-title{
    font-size: 45px;
}
.teams-content-description{
    font-size: 16px;
    color: #727272;
}
.ash{
    color: #727272;
    font-weight: 450;
}
.orange{
    color: #FF900E;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

/* features part2 styles */
.features{
    display: flex;
    gap: 136px;
    margin-top: 140px;
}
.feature-card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge-title{
    font-size: 4rem;
    margin: 0;
}
.feature-image img{
    margin-left: 60px;
}

/* facts styles */
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.card{
    height: 242px;
    width: 242px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
.card-stats{
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card-title{
    font-size: 20px;
    color: #727272;
}

/* sponsors styles */
.sponsors-description{
    font-size: 16px;
    color: #727272;
}
.sponsors{
    text-align: center;
    margin-top: 100px;
}
.sponsors-image{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

/* footer styles */
footer {
  background-color: rgba(255, 144, 14, 0.10);
  height: 60px;
  text-align: center;
  padding-top: 30px;
  margin-top: 100px;
  font-size: 20px;
  color: #424242;
}






/* responsive media queries */
/* mobile devices or small device*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-image-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .teams-container{
        flex-direction: column;
    }
    .card{
        width: 90%;
        align-items: center;
        padding-left: 0px;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 30px;
    }
    .sponsors-image{
        flex-direction: column;
    }
    .image{
        margin: 40px auto;
    }
    footer{
        width: 100%;
        padding-bottom: 50px;
    }
}
/* tablet devices or medium device*/
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column;
    }
    .facts-card-container{
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        gap: 30px;
    }
    .facts{
       text-align: center;
       margin-top: 150px;
    }
}